footer{
    background-color: black;
    padding-block: 3%;
    .footer-container{
        width: 50%;
        margin: 0 auto;
        p{
            color: gray;
            font-size: calc($fs-m + 0.3vw);
            margin-bottom: 2%;
            a{
                color: gray;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li{
             width: 24%;   
             display: flex;
             justify-content: flex-start;
             align-items: center;
             margin-bottom: 2%;
             a{
                 font-size: $fs-m;
                 color: gray;
                 text-decoration: none;
             }
            }
        }
        // ========== lang =========
        select{
            border: 0.1vw white solid;
            background-color: transparent;
            color: white;
             padding:1% 1%;
            width: 12%;
            font-size: $fs-m;
            display: flex;
            justify-content: space-between;
            align-items: center;
            appearance:none;
            -webkit-appearance:none; // this is for chrome
          background-image: url(../images/arrow.png);
          background-size:$fs-sm;
          background-repeat: no-repeat;
          background-position: 90%;
        outline: none;
            option{
                font-size: $fs-m;
            background-color: black;

            }
            
        }
        small{
            color: gray;
            font-size: $fs-sm;
           display: flex;
           margin-top: 3%;
        }
    }
}