footer{
    background-color: black;
    padding: 3% 0;
    .footer-container{
        max-width: 50rem;
        margin: 0 auto;
        p{
            color: gray;
            font-size: 1.2rem;
            margin-bottom: 2%;
            a{
                color: gray;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li{
             width: 24%;   
             display: flex;
             justify-content: flex-start;
             align-items: center;
             margin-bottom: 2%;
             a{
                 font-size: 1rem;
                 color: gray;
                 text-decoration: none;
             }
            }
        }
        
        small{
            color: gray;
            font-size: 0.8rem;
           display: flex;
           margin-top: 3%;
        }
            // ========== lang =========
        .footer-lan{
            max-width: 5.5rem;
        select{
            border: 0.1vw white solid;
            background-color: transparent;
            color: white;
             padding:1% 1%;
            width: 100%;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            appearance:none;
            -webkit-appearance:none; // this is for chrome
          background-image: url(../images/arrow.png);
          background-size:1rem;
          background-repeat: no-repeat;
          background-position: 90%;
        outline: none;
            option{
                font-size: 0.8rem;
            background-color: black;

            }
            
        }
        }
    }
}