@media only screen and (max-width:700px) {
    .bg{
        .form{
            padding: 0 3%;
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.5rem;
            }
            form{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;
                border-radius: 0;
                input{
                    width: 100%;
                    border-radius: 0;
                    font-size: 1rem;
                }
                button{
                    border-radius: 0;
                    padding: 2% 6%;
                    margin-top: 3%;
                    gap: 5%;
                    font-size: 1rem;
                }
            }
        }
    }
   main{
        // ========= tv=========
        .tv{
            .tv-container{

                .tv-text{
                    min-width: 100%;
                    text-align: center;
                    h1{
                        font-size: 2.2rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        // ========== download =========
        .download{
            .download-container{
                .download-text{
                     min-width:100%;
                     text-align: center;
                     h1{
                        font-size: 2.2rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        // ========= watch everywhere ========
        .everywhere{
            .everywhere-container{
                .everywhere-text{
                    min-width: 100%;
                    text-align: center;
                    h1{
                        font-size: 2.2rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        // ============ kids ==========
        .kids{
            .kids-container{
                .kids-text{
                    min-width: 100%;
                    text-align: center;
                    h1{
                        font-size: 2.2rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        // ========== asks=========
        .asked{
            .asked-container{
                h1{
                    font-size: 2.2rem;
                }
                .questions{
                    .one,.two,.three,.four,.five,.six{
                        a{
                            p{
                                font-size: 1.3rem;
                            }
                            .plus{
                                i{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                    #details,#detailsTwo,#detailsThree,#detailsFour,#detailsFive,#detailsSix{
                        p{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
        // =========== last form ==========
        .lastForm{
            .lastForm-container{
               padding: 0 3%;

                p{
                    text-align: center;
                    font-size: 1.2rem;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 0;
                    input{
                        width: 100%;
                        border-radius: 0;
                        font-size: 1rem;
                    }
                    button{
                        margin-top: 4%;
                        border-radius: 0;
                        padding: 2% 6%;
                        gap: 5%;
                        font-size: 1rem;
                    }
                }
            }
        }
   }
//    ====================== footer ============
   footer{
       .footer-container{
           ul{
               li{
                   width: 10rem;
                   a{
                       font-size: 0.8rem;
                   }
               }
           }
           .footer-lan{

               select{
                   font-size: 0.8rem;
                   background-size: 0.8rem;
               }
           }
       }
      
   }
}
// ================= min 700px max 950px ===============
@media only screen and (min-width:701px) and (max-width:950px) {
    main{
        // ========= tv=========
        .tv{
            .tv-container{
                flex-wrap: wrap;
                .tv-text{
                    min-width: 100%;
                    text-align: center;
                }
            }
        }
        // ========== download =========
        .download{
            .download-container{
                flex-wrap: wrap;
                .download-text{
                     min-width:100%;
                     text-align: center;
                }
            }
        }
        // ========= watch everywhere ========
        .everywhere{
            .everywhere-container{
                flex-wrap: wrap;
                .everywhere-text{
                    min-width: 100%;
                    text-align: center;
                }
            }
        }
        // ============ kids ==========
        .kids{
            .kids-container{
                .kids-text{
                    min-width: 100%;
                    text-align: center;
                }
            }
        }
       
   }
}